body{
    font-family: sans-serif;
}

.container {
    display: flex;
    gap: 50px;
    border: 2px solid black;
    padding: 50px;

}

#posts div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i {
    border: 2px solid black;
    padding: 2px 3px;
    border-radius: 4px;
    cursor: pointer;
}